<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="card p-3 py-4">
            <h5>Tìm nơi bán hàng phù hợp nhất</h5>

            <form action="/" method="POST">
              <div class="row g-3 mt-2">

                <div class="row-md-8">
                  <input
                    type="text"
                    id="search_text"
                    name="search"
                    class="form-control"
                    placeholder="Nhập tên điện thoại cần tìm. Ví dụ: Iphone 12"
                    value="{{#if values}}{{values}}{{/if}}"
                  />
                </div>
                <div class="col-md-3">

                  <select
                    class="form-select"
                    name="sort"
                    aria-label="Sắp xếp theo"
                  >
                    <option selected>Sắp xếp theo</option>
                    <option value="asc">Giá tăng dần</option>
                    <option value="desc">Giá giảm dần</option>
                  </select>
                </div>
                <div class="col-md-2 right">
                  <button
                    type="submit"
                    class="btn btn-secondary btn-block"
                    id="btn"
                    {{! style="float:right; position: absolute; left: 600;" }}
                  >
                    Tìm kiếm

                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="result" class="row d-flex justify-content-center"></div>
    </div>
    <br />
    <div class="phone_images">
      {{{body}}}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    ></script>
    <script>
      const value = $("#search_text").val(); console.log(value);
      document.getElementById("asc_item").addEventListener("click",
      function(event){ event.preventDefault(); });
      document.getElementById("desc_item").addEventListener("click",
      function(event){ event.preventDefault() });
    </script>
  </body>

</html>